html{
  scroll-behavior: smooth;
}
.header
{
  height:15%;
  width:100%;
  color:#13293d;
  background-color:white;
  position:fixed;
  z-index:100;

  .header__title
  {
    height:100%;
    width:100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
}

.title__h1
  {
    font-size:2rem;
  }
