body
{
  height:100%;
  width:100%;
  margin:0;
  font-family:'GeoSansLight';
  overflow-x:hidden;
}
@import 'blocs/header.scss';
@import 'blocs/sectionFirst.scss';
@import 'config/fonts.scss';
@import 'blocs/footer.scss';
@import 'blocs/sectionSecond.scss';
@import 'blocs/interSection.scss';
@import 'blocs/sectionThree.scss';
@import 'blocs/sectionFour.scss';
@import 'blocs/sectionFive.scss';
@import 'blocs/sectionSix.scss';
@import 'config/medias.scss';